<a href="https://colab.research.google.com/github/hansubkim808/spotify_net/blob/main/Spotify_Net_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install spotipy

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/7a/cd/e7d9a35216ea5bfb9234785f3d8fa7c96d0e33999c2cb72394128f6b4cce/spotipy-2.16.1-py3-none-any.whl
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Installing collected packages: spotipy
Successfully installed spotipy-2.16.1

In [ ]:
import os

os.environ['SPOTIPY_CLIENT_ID']='a78e6d0e2ed240d2813c130a3e848194'
os.environ['SPOTIPY_CLIENT_SECRET']='74ceb730c73b41a98fbfdb4bda9a121d'
os.environ['SPOTIPY_REDIRECT_URI']='https://developer.spotify.com/dashboard/applications/a78e6d0e2ed240d2813c130a3e848194'

In [ ]:
import json
import spotipy
import sys
import spotipy.util as util
from spotipy.oauth2 import SpotifyClientCredentials
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow import keras
from keras import Model
from numpy import linalg as LA
import pandas as pd 
from statistics import mean, mode 
from IPython import display
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials())

In [ ]:
def get_audio_features(track_ids):
  af = [sp.audio_features(id) for id in track_ids]
  feature_dicts = [elem[0] for elem in af]

  audio_feature_df = pd.DataFrame(columns=['danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 
                           'valence', 'tempo', 'type', 'id', 'uri', 'track_href', 'analysis_url', 'duration_ms', 'time_signature'])
  i = 0
  while i < len(feature_dicts): 
    row = feature_dicts[i]
    df_row = pd.DataFrame([row])
    audio_feature_df = audio_feature_df.append(df_row, ignore_index=True)
    i += 1

  print("Successfully formatted " + str(i) + " rows.")
  audio_feature_df = audio_feature_df.drop(['type', 'id', 'uri', 'track_href', 'analysis_url'], axis=1) # remove irrelevant columns
  return audio_feature_df

In [ ]:
def get_artist_ids(artists):

  artist_ids = []
  artist_names = []

  for artist in artists:
    artist_results = sp.search(artist, type='artist')
    artist_name = artist_results['artists']['items'][0]['name']
    artist_id = artist_results['artists']['items'][0]['id']
    if artist_name in artist_names:
      continue
    else:
      artist_names.append(artist_name)
      artist_ids.append(artist_id)

  return artist_ids, artist_names

In [ ]:
def get_tracks_from_artist_ids(artist_ids): # takes in a list of artists 

  all_album_ids = []
  all_album_titles = []

  # Grab all albums from each artist
  for id in artist_ids:
    albums = sp.artist_albums(id)
    album_titles = [albums['items'][i]['name'] for i in range(len(albums['items']))]
    album_ids = [albums['items'][i]['id'] for i in range(len(albums['items']))]
    all_album_ids.extend(album_ids)
    all_album_titles.extend(album_titles)

  all_track_ids = []
  all_track_names = []

  # Grab all tracks in each album
  for i in range(len(all_album_ids)):
    album = all_album_ids[i]
    album_tracks = sp.album_tracks(album)
    album_track_ids = [album_tracks['items'][j]['id'] for j in range(len(album_tracks['items']))]
    album_track_names = [album_tracks['items'][k]['name'] for k in range(len(album_tracks['items']))]
    all_track_ids.extend(album_track_ids)
    all_track_names.extend(album_track_names)
  
  # Remove duplicates 
  tracks_dict = {all_track_ids[i] : all_track_names[i] for i in range(len(all_track_ids))}
  temp = {val : key for key, val in tracks_dict.items()} 
  res = {val : key for key, val in temp.items()} 
  total_track_ids = list(res.keys())
  total_track_names = list(res.values())

  return all_album_titles, all_album_ids, total_track_names, total_track_ids

In [ ]:
# List of 50 most popular artists and 50 most underrated artists.
artists = ['Post Malone', 'Duke Deuce', 'Drake', 'Lil Nas X', 'Travis Scott', 'Juice WRLD', 'DaBaby', 'Cardi B',
           'Lil Baby', 'Meek Mill', 'A Boogie Wit da Hoodie', 'Tee Grizzley', '21 Savage', 'SOB X RBE',
           'Chris Brown', 'Kodak Black', 'J. Cole', 'Young Thug', 'Lil Tecca', 'YoungBoy Never Broke Again',
           'YNW Melly', '9lokknine', 'Swae Lee', 'Eminem', 'NF', 'DJ Khaled', 'Offset', 'Lil Wayne',
           'Tyler, The Creator', 'Future', 'Blueface', 'Gunna', 'Nipsey Hussle', 'Mustard',
           'Megan Thee Stallion', 'Lil Uzi Vert', 'Polo G', '6ix9ine', 'City Girls', 'Trippie Redd',
           'Kanye West', 'Sheck Wes', 'Gucci Mane', 'Doe Boy', 'Migos', 'Roddy Ricch', 'Calboy',
           'Nicki Minaj', 'Kendrick Lamar', 'King Von', 'Jackboy', 'Shootergang Kony', '1takejay',
           'Lil Durk', 'Lil Keed', 'Lil Gotit', 'OMB Peezy', 'Foogiano', 'Big Scarr',
           'Action Pack', 'Pooh Shiesty', 'Pop Smoke', 'Fivio Foreign', '22Gz', 'K Shiday', 'Mulatto',
           '24kGoldn', 'Rich Homie Quan', 'Key Glock', 'Young Dolph', 'ABG Neal', '42 Dugg',
           'Cash Kidd', 'Bfb Da Packman', 'Teejayx6', 'Kasher Quon', 'Sada Baby', 'Drakeo the Ruler',
           'AzChike', '$tupid Young', 'Pacman da Gunman', 'Rio Da Yung Og', 'BlueBucksClan', 'Lil Zay Osama', 'Lil Poppa',
           '600 Breezy', 'Sheff G', 'Sleepy Hallow', 'Yungeen Ace', 'JayDaYoungan', 'Playboi Carti', 'UnoTheActivist',
           'Thouxanbanfauni', 'Blocboy JB', 'NLE Choppa', 'Rod Wave', 'Quando Rondo', 'Slatt Zy']


artist_ids, artist_names = get_artist_ids(artists)
album_titles, album_ids, track_names, track_ids = get_tracks_from_artist_ids(artist_ids)

In [ ]:
audio_feature_df = get_audio_features(track_ids)
audio_feature_df

Successfully formatted 8825 rows.

        0  acousticness  danceability  ...    tempo  time_signature valence
0     NaN        0.3310         0.404  ...  130.215               4   0.158
1     NaN        0.0826         0.637  ...  132.056               4   0.287
2     NaN        0.0548         0.653  ...   75.037               4   0.623
3     NaN        0.1410         0.671  ...  144.945               4   0.540
4     NaN        0.1030         0.624  ...  159.004               4   0.301
...   ...           ...           ...  ...      ...             ...     ...
8820  NaN        0.0519         0.765  ...  139.939               5   0.789
8821  NaN        0.0706         0.839  ...  111.924               4   0.302
8822  NaN        0.0493         0.683  ...  157.888               4   0.554
8823  NaN        0.0188         0.731  ...  138.914               4   0.103
8824  NaN        0.0151         0.898  ...  120.030               4   0.390

[8825 rows x 14 columns]

In [ ]:
audio_feature_df = audio_feature_df.drop([4839]) # row 4839 contains corrupted data

In [ ]:
audio_feature_df

        0  acousticness  danceability  ...    tempo  time_signature valence
0     NaN        0.3310         0.404  ...  130.215               4   0.158
1     NaN        0.0826         0.637  ...  132.056               4   0.287
2     NaN        0.0548         0.653  ...   75.037               4   0.623
3     NaN        0.1410         0.671  ...  144.945               4   0.540
4     NaN        0.1030         0.624  ...  159.004               4   0.301
...   ...           ...           ...  ...      ...             ...     ...
8820  NaN        0.0519         0.765  ...  139.939               5   0.789
8821  NaN        0.0706         0.839  ...  111.924               4   0.302
8822  NaN        0.0493         0.683  ...  157.888               4   0.554
8823  NaN        0.0188         0.731  ...  138.914               4   0.103
8824  NaN        0.0151         0.898  ...  120.030               4   0.390

[8824 rows x 14 columns]

In [ ]:
# Save audio_feature_df as CSV
audio_feature_df.to_csv('audio_features.csv', encoding='utf-8', index=False)

In [ ]:
# Get one hot column
def one_hot_name(artists, track_ids):
  artists_dataframe = []
  for track_id in track_ids:
    name = sp.track(track_id)['artists'][0]['name']
    name_vec = np.array([1 if artist == name else 0 for artist in artists])
    one_hot_df = pd.DataFrame([[name_vec]])
    artists_dataframe.append(one_hot_df)
  if artists_dataframe is not None:
    artists_df = pd.concat(artists_dataframe, ignore_index = True, axis=0)
    artists_df.columns = ['Artist Name']
  return artists_df

In [ ]:
artists_df = one_hot_name(artists, track_ids)

In [ ]:
artists_df = artists_df.drop([4839])

In [ ]:
artists_df

                                            Artist Name
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...                                                 ...
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8824  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[8824 rows x 1 columns]

In [ ]:
artists_df.to_csv('artists.csv', encoding='utf-8', index=True)

In [ ]:
# Get labels
def get_labels(track_ids):
  labels = [sp.track(track_id)['popularity'] for track_id in track_ids]
  labels = pd.DataFrame(labels, columns=['Popularity Index'])
  return labels

In [ ]:
y_labels = get_labels(track_ids)
y_labels

      Popularity Index
0                   38
1                   49
2                   50
3                   41
4                   45
...                ...
8820                32
8821                40
8822                30
8823                 3
8824                32

[8825 rows x 1 columns]

In [ ]:
y_labels = y_labels.drop([4839])
y_labels

      Popularity Index
0                   38
1                   49
2                   50
3                   41
4                   45
...                ...
8820                32
8821                40
8822                30
8823                 3
8824                32

[8824 rows x 1 columns]

In [ ]:
y_labels.to_csv('y_labels.csv', encoding='utf-8', index=False)

In [ ]:
# Concatenate everything together 

audio_features_df = pd.read_csv('audio_features.csv')

In [ ]:
pitches_df = pd.read_csv('pitches_total.csv')

In [ ]:
timbres_df = pd.read_csv('timbres_total.csv')

In [ ]:
all_features = pd.concat([artists_df, audio_features_df, pitches_df, timbres_df, y_labels], axis=1)

In [ ]:
all_features

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0
8824  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0

[8825 rows x 40 columns]

In [ ]:
all_features

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0
8824  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0

[8825 rows x 40 columns]

In [ ]:
all_features = all_features.iloc[:-1, :]
all_features

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8818  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              17.0
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0

[8823 rows x 40 columns]

In [ ]:
all_features_modified = all_features.iloc[:-1, :]
all_features_modified

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
all_features_modified.fillna(0)

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
all_features_modified

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
# Normalize specified columns
from sklearn.preprocessing import MinMaxScaler
def normalize_columns(dataset):
  min_max_scaler = MinMaxScaler()
  columns_to_norm = ['loudness', 'tempo', 'duration_ms', 'Loudness', 'Brightness', 'Flatness', 'Strength of Attack', 
           'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12']
  dataset[columns_to_norm] = min_max_scaler.fit_transform(dataset[columns_to_norm])
  return dataset

In [ ]:
input_features_normalized = normalize_columns(all_features_modified)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
input_features_normalized

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
final_features_matrix = input_features_normalized
final_features_matrix

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
all_features_modified

                                            Artist Name  ...  Popularity Index
0     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              38.0
1     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              49.0
2     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              50.0
3     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              41.0
4     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              45.0
...                                                 ...  ...               ...
8819  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              16.0
8820  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              32.0
8821  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              40.0
8822  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...              30.0
8823  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...  ...               3.0

[8824 rows x 40 columns]

In [ ]:
# Export to CSV
final_features_matrix.to_csv('WHOLE_DATASET.csv', encoding='utf-8')

In [ ]:
all_features.to_csv('WHOLE_DATASET_NO_NORM.csv', encoding='utf-8')

In [ ]:
whole_dataset = pd.read_csv('WHOLE_DATASET_NO_NORM (1).csv')

In [ ]:
# Normalize specified columns
from sklearn.preprocessing import MinMaxScaler
def normalize_cols(dataset):
  min_max_scaler = MinMaxScaler()
  dataset = min_max_scaler.fit_transform(dataset)
  dataset *= 2
  dataset -= 1
  return dataset

In [ ]:
whole_dataset = normalize_cols(whole_dataset)

ValueError: ignored

In [ ]:
whole_dataset.head()

   acousticness  danceability  ...       T12  Popularity Index
0        0.3310         0.404  ...  2.250311              38.0
1        0.0826         0.637  ...  2.447959              49.0
2        0.0548         0.653  ... -2.096233              50.0
3        0.1410         0.671  ...  5.745416              41.0
4        0.1030         0.624  ...  0.220690              45.0

[5 rows x 38 columns]

In [ ]:
whole_dataset.dtypes

acousticness          float64
danceability          float64
duration_ms             int64
energy                float64
instrumentalness      float64
key                     int64
liveness              float64
loudness              float64
mode                    int64
speechiness           float64
tempo                 float64
time_signature          int64
valence               float64
C                     float64
C#                    float64
D                     float64
D#                    float64
E                     float64
F                     float64
F#                    float64
G                     float64
G#                    float64
A                     float64
A#                    float64
B                     float64
Loudness              float64
Brightness            float64
Flatness              float64
Strength of Attack    float64
T5                    float64
T6                    float64
T7                    float64
T8                    float64
T9                    float64
T10                   float64
T11                   float64
T12                   float64
Popularity Index      float64
dtype: object

In [ ]:
whole_dataset['Artist Name'] = pd.Categorical(whole_dataset['Artist Name'])
whole_dataset['Artist Name'] = whole_dataset['Artist Name'].cat.codes

KeyError: ignored

In [ ]:
whole_dataset.head(50)

    acousticness  danceability  ...        T12  Popularity Index
0        0.33100         0.404  ...   2.250311              38.0
1        0.08260         0.637  ...   2.447959              49.0
2        0.05480         0.653  ...  -2.096233              50.0
3        0.14100         0.671  ...   5.745416              41.0
4        0.10300         0.624  ...   0.220690              45.0
5        0.22200         0.703  ...   6.861789              43.0
6        0.19400         0.613  ...  -5.450838              44.0
7        0.06470         0.575  ...  -4.352986              45.0
8        0.10200         0.495  ...   1.141488              39.0
9        0.67500         0.748  ...   1.433464              42.0
10       0.28600         0.722  ...  -3.677183              42.0
11       0.53200         0.752  ...   4.206223              33.0
12       0.84200         0.514  ...   4.262399              36.0
13       0.41100         0.593  ...  -0.951141              71.0
14       0.01110         0.759  ...  -3.753639              28.0
15       0.04850         0.828  ...   2.719882              26.0
16       0.13200         0.842  ...  -1.330787              55.0
17       0.39000         0.789  ...   2.259308              51.0
18       0.34100         0.672  ...  -2.008489              70.0
19       0.19200         0.591  ...  -9.740756              47.0
20       0.14600         0.747  ...  -2.111678              37.0
21       0.62600         0.759  ...  11.024102              36.0
22       0.12400         0.585  ...   0.261762              86.0
23       0.12600         0.564  ...  -0.933116              38.0
24       0.54600         0.750  ...   5.170998              81.0
25       0.33400         0.686  ...  -0.575488              53.0
26       0.51300         0.797  ...   2.999990              71.0
27       0.01490         0.781  ...  -4.794621              12.0
28       0.64600         0.498  ...  -8.215032               3.0
29       0.14500         0.652  ...  -2.805815              38.0
30       0.43400         0.731  ...   1.304350              70.0
31       0.75500         0.340  ...  -5.620914              33.0
32       0.25400         0.795  ...   7.022333              41.0
33       0.71000         0.656  ...  -5.552830              48.0
34       0.24200         0.599  ...   0.752988              38.0
35       0.30100         0.671  ...  -2.085317              41.0
36       0.14500         0.594  ...   0.038955              54.0
37       0.00743         0.737  ... -10.387998              11.0
38       0.51100         0.775  ...   3.133652              47.0
39       0.39500         0.730  ...   0.694230              35.0
40       0.35900         0.353  ...   6.385920              19.0
41       0.23000         0.444  ...   0.951294              21.0
42       0.28300         0.645  ...  -1.906386              33.0
43       0.06860         0.561  ... -10.396642              41.0
44       0.61000         0.676  ...   2.737007              20.0
45       0.19100         0.667  ...  -0.833703              26.0
46       0.07030         0.564  ...   0.287714              24.0
47       0.55000         0.752  ...   6.285712              19.0
48       0.22600         0.664  ...   1.417709              25.0
49       0.18700         0.552  ...  -1.194474              19.0

[50 rows x 38 columns]

In [ ]:
import tensorflow as tf

In [ ]:
x = whole_dataset
x.head()

   acousticness  danceability  ...       T12  Popularity Index
0        0.3310         0.404  ...  2.250311              38.0
1        0.0826         0.637  ...  2.447959              49.0
2        0.0548         0.653  ... -2.096233              50.0
3        0.1410         0.671  ...  5.745416              41.0
4        0.1030         0.624  ...  0.220690              45.0

[5 rows x 38 columns]

In [ ]:
y = x.pop('Popularity Index')
x = normalize_cols(x)
x = pd.DataFrame(x)
y /= 100
dataset = tf.data.Dataset.from_tensor_slices((x.values, y.values))

In [ ]:
for feat, targ in dataset.take(15):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [-0.33333333 -0.17466803 -0.62893862  0.29648241 -1.         -0.27272727
 -0.78666667  0.87739514 -1.         -0.90010428  0.18324027  0.6
 -0.67722165 -0.23545984 -0.24903607 -0.31864392 -0.60218934 -0.22666126
 -0.71216156 -0.54590874 -0.51371499 -0.80560222 -0.59389276 -0.77910565
 -0.39618971  0.89139547  0.17100235 -0.02038618 -0.4620239   0.09196383
 -0.41472031  0.19274855  0.33281892  0.4077447  -0.33340349  0.57151639
  0.05446399], Target: 0.38
Features: [-0.83363545  0.30132789 -0.64258451  0.36281407 -1.         -1.
 -0.79630769  0.86287963  1.         -0.9080292   0.1999691   0.6
 -0.41368744 -0.04983589 -0.2510327  -0.26293884 -0.6737971  -0.44120095
 -0.41842568 -0.5613719  -0.56012884 -0.69531406 -0.33124298 -0.74036746
 -0.58017268  0.8763302   0.32209869 -0.03360154 -0.36189529  0.09034523
 -0.33506196  0.26981875  0.3731845   0.27001194 -0.31110312  0.46138431
  0.06215247], Target: 0.49
Features: [-0.88962739  0.3340143  -0.52631066  0.31457286 -1.          0.09090909
 -0.76        0.84373502  1.         -0.68717414 -0.31815229  0.6
  0.27272727 -0.50761101 -0.16488149 -0.62662678 -0.43450036 -0.60543192
 -0.42308855 -0.16539533 -0.48977189 -0.21880084 -0.49827876 -0.35434601
 -0.52221851  0.8501477   0.37164911 -0.05093222 -0.25786134  0.15163306
 -0.32269241 -0.04666523  0.39160665  0.12927368  0.004894    0.34655376
 -0.11461583], Target: 0.5
Features: [-0.71601208  0.37078652 -0.62731712  0.44723618 -0.99997396 -1.
 -0.23282051  0.86063121  1.         -0.8358707   0.31708913  0.6
  0.1031665   0.214531   -0.17364245 -0.44736164 -0.62931462 -0.38065731
 -0.55523804 -0.63250541 -0.47853584 -0.56058047 -0.41929174 -0.66088464
 -0.47642053  0.81407891  0.18847612 -0.19724825 -0.38682975 -0.06133394
 -0.38882006  0.13350839  0.3550997   0.16552807 -0.35329906  0.53230426
  0.190423  ], Target: 0.41
Features: [-0.79254783  0.27477017 -0.46445822  0.50351759 -0.99991208  0.09090909
 -0.77025641  0.86975714  1.         -0.80145985  0.44484073  0.6
 -0.38508682  0.0105436   0.02111574 -0.43905926 -0.4287494  -0.52744267
 -0.38908318 -0.02702243 -0.53912543 -0.43371606 -0.50013813 -0.29420073
 -0.22037937  0.81206177  0.07410008 -0.17261589 -0.37574477 -0.1904382
 -0.508428    0.24862548  0.28704831  0.42889721 -0.17751545  0.43474893
 -0.02448791], Target: 0.45
Features: [-0.55287009  0.43615935 -0.47938865  0.51959799 -0.99414583 -1.
 -0.82994872  0.87124506  1.         -0.92158498  0.09040932  0.6
  0.09499489  0.30024525 -0.36204293 -0.39549292 -0.69528148 -0.37323556
 -0.18634686 -0.56412966 -0.47424355 -0.59731423 -0.51754818 -0.65292791
 -0.18163838  0.87381113  0.10718393 -0.15918285 -0.37280856 -0.05327394
 -0.50624172  0.12688087  0.3747711   0.36020781 -0.26766134  0.69598344
  0.23384974], Target: 0.43
Features: [-0.60926485  0.25229826 -0.40338107  0.31859296 -1.         -1.
 -0.54666667  0.88619042  1.         -0.90198123  0.31749803  0.6
 -0.09499489 -0.14967781 -0.2329216  -0.22884874 -0.63844944 -0.43145264
 -0.47180423 -0.78466598 -0.52240443 -0.78857628 -0.4293257  -0.71763427
 -0.70688841  0.91949645  0.3310556   0.16179557 -0.25611569  0.18972371
 -0.3210811  -0.02258114  0.21756939  0.16379706 -0.27800894  0.51649396
 -0.2451094 ], Target: 0.44
Features: [-0.86968781  0.17466803 -0.47171948  0.46331658 -1.          0.27272727
 -0.79076923  0.81533222  1.         -0.81126173 -0.21890604  0.6
 -0.5485189  -0.09347293 -0.15573087 -0.18775992 -0.53589903 -0.51405047
 -0.64926264 -0.25868976 -0.451191   -0.64484764 -0.55599035 -0.65087213
 -0.41500369  0.83214856  0.20440365 -0.08252279 -0.39566684  0.00115917
 -0.38473932  0.29495894  0.297088    0.20320177 -0.22720301  0.30278535
 -0.20240314], Target: 0.45
Features: [-0.79456193  0.01123596 -0.44314063  0.63015075 -1.         -0.81818182
 -0.72923077  0.8963083  -1.         -0.88091762  0.27147329  0.6
 -0.50766088 -0.31487509  0.12755673 -0.57136794 -0.36731543 -0.30824963
 -0.64197866 -0.59542999 -0.72357244 -0.24969244 -0.36933659 -0.40892275
 -0.44594595  0.95481738  0.28404212 -0.00539504 -0.46722771  0.00531276
 -0.5057588   0.23020495  0.36049697  0.37445771 -0.20877077  0.58466601
  0.01133098], Target: 0.39
Features: [ 0.35951662  0.52808989 -0.516379    0.11356784 -0.9999951  -0.09090909
 -0.70051282  0.85034801  1.         -0.93326382  0.07165412  0.6
 -0.25434116 -0.20801065 -0.59630353 -0.61008317 -0.80884166 -0.47670139
  0.33045815 -0.63597984 -0.6082371  -0.77905582 -0.32512947 -0.59838379
 -0.74406249  0.78085099  0.07643985  0.09665896 -0.19456188  0.41175404
 -0.32622977  0.16027854  0.17904713  0.45914252 -0.2363817   0.53999394
  0.02268877], Target: 0.42
Features: [-0.42396777  0.47497446 -0.59846718  0.54974874 -1.          0.09090909
 -0.37641026  0.83758494 -1.         -0.62252346 -0.13622506  0.6
 -0.3421859  -0.00840823  0.37913671 -0.0214683  -0.38271544 -0.15506275
 -0.47779018 -0.23794644 -0.52278565 -0.45526876 -0.22570566 -0.48657495
 -0.49905811  0.78050271  0.1257376  -0.15455017 -0.30661771 -0.03946153
 -0.39520815  0.07286293  0.32432312  0.65795871 -0.16273623  0.40423374
 -0.17611452], Target: 0.42
Features: [ 0.0715005   0.53626149 -0.62562722  0.05326633 -1.         -0.63636364
 -0.85948718  0.8389406   1.         -0.90302398 -0.18258602  0.6
  0.87946885 -0.36673948 -0.17166008  0.05594687 -0.60095412 -0.2910912
 -0.61523796 -0.24294878 -0.2920975  -0.66056647 -0.33755348 -0.69267159
 -0.33300997  0.82011394  0.13982965 -0.10588441 -0.20745422  0.19670065
 -0.34054108 -0.03282877  0.21816586  0.52610979 -0.42653244  0.30153724
  0.13054866], Target: 0.33
Features: [ 0.6958711   0.05005107 -0.71220745 -0.07738693 -1.         -1.
 -0.79076923  0.78563989  1.         -0.93993743 -0.32769345  0.6
 -0.62819203  0.09288487 -0.72416692 -0.53794748 -0.80081427 -0.26980942
 -0.64816033 -0.81247518 -0.30030136 -0.82324332 -0.48448947 -0.86647207
 -0.57004353  0.75667902  0.0897124   0.19320021 -0.27136974  0.17403603
 -0.3699974  -0.03682109  0.37778085  0.28376713 -0.30104425  0.73696197
  0.13273389], Target: 0.36
Features: [-0.17220544  0.21144025 -0.58184686  0.31256281 -1.         -0.09090909
 -0.78461538  0.85917635  1.         -0.84754953  0.36335013  0.6
 -0.64044944 -0.20374076 -0.24957873 -0.32481164 -0.69645998 -0.45378231
 -0.1121842  -0.73326086 -0.59130191 -0.73899726 -0.2533631  -0.47706201
 -0.68150548  0.8167946   0.15763091 -0.05851602 -0.46123978  0.19589335
 -0.33150828 -0.06874387  0.28087163  0.17432167 -0.403648    0.48985622
 -0.07007196], Target: 0.71
Features: [-0.9776435   0.5505618  -0.68284826  0.08944724 -0.99999777 -0.27272727
 -0.68410256  0.68383289 -1.         -0.48905109 -0.10969155  0.6
  0.5546476  -0.12802006  0.039876   -0.3392791  -0.30518287 -0.19275652
 -0.23745024 -0.39176283 -0.42244726 -0.38935086 -0.27597108 -0.54741291
 -0.41060337  0.65180902  0.22381375 -0.41015519 -0.54065268 -0.33835214
 -0.34766423  0.19812562  0.53366983  0.12805378 -0.08770302  0.13918298
 -0.17908865], Target: 0.28

In [ ]:
train_dataset = dataset.shuffle(len(x)).batch(1)

In [ ]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(50, activation='relu'),
    tf.keras.layers.Dense(40, activation='relu'),
    tf.keras.layers.Dense(30, activation='relu'),
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
  ])

  from keras.optimizers import SGD
  opt = SGD(lr=0.00001, decay=1e-6, momentum=0.9)
  model.compile(loss = "categorical_crossentropy", optimizer = opt, metrics=['accuracy'])

  return model

In [ ]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense_68 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

8823/8823 [==============================] - 9s 1ms/step - loss: nan - accuracy: 0.0063
Epoch 2/15
8823/8823 [==============================] - 9s 1ms/step - loss: nan - accuracy: 0.0063
Epoch 3/15
2531/8823 [=======>......................] - ETA: 6s - loss: nan - accuracy: 0.0051

KeyboardInterrupt: ignored